{{#if posts.length}}  // If there are posts
    {{#each posts as |post|}} // Loop through each post
    <div class="card col-11 m-4 p-1"> // Create a card for each post
        <div class="card-title d-flex justify-content-between p-2 h4"> // Create a card title
            <p class="h2 text-dark">{{post.title}}</p> // Display the post title
            <a href="/dashboard/post/{{id}}"><img src="/images/edit.png" alt="edit"></a> // Add an edit button
        </div>
        <div class="card-body">{{content}}</div> // Display the post content
    </div>
    {{/each}} // End the loop
{{else}} // If there are no posts
    <div class="card col-11 m-4 p-1"> // Create a card
        <div class="card-title d-flex justify-content-between p-2 h4"> //
            <p class="h2 text-dark">There are no posts</p> // Display a message
        </div>
        <div class="card-body"></div> // Display an empty card body
    </div>
{{/if}}